* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.container {
    background-color: white;
    width: 90%;
    height: 100vh;
    margin: 0 auto;


}

.header {

    width: 100%;
    border: 1px solid darkkhaki;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h3 {
    margin-left: 20px;
}

.data {
    margin-top: 10px;
    width: 100%;
    border: 1px solid darkkhaki;
    height: auto;
}

.data .img {
    margin: auto auto;
    float: left;

    width: 30%;
}

.data .img img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    max-height: 477px;
    border-radius: 2px;
}

.data .img1 {
    display: inline;
}

.data .img1 p {
    font-size: 16px;
}

input[type="submit"] {
    border: none;
    border: 1px solid darkkhaki;
    padding: 7px;
    color: black;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    background-color: white;
    border-radius: 3px;
    background-color: darkkhaki;
}

input[type="submit"]:hover {

    color: white;
}

input[type="text"] {
    text-align: center;
    outline: none;
    border: none;
    border: 1px solid darkkhaki;
    width: 30px;
    padding: 9px;
    padding-top: 10px;
    border-radius: 3px;
}

.img1 {
    width: 70%;
}

.img1 h1 {
    margin: 20px;
}

.img1 h3 {
    margin: 10px;
}

.img1 input {
    margin: 3px;
}

.info {
    width: 100%;
}

.header {
    background-color: darkkhaki;
}

.header h3 {
    color: white;
}

.error {
    border: 1px solid darkkhaki;
    margin-top: 21px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: darkkhaki;

}

.error h4 {
    line-height: 50px;
}

.h2 {
    margin-top: 10px;
}

@media (max-width:938px) {
    .info {
        display: block;
    }
}

@media (max-width:530px) {
    .data .img {
        text-align: center;
        width: 100%;
    }

    .img .data {
        height: auto;
    }

    .img1 input {
        margin-left: 15px;
    }

    .img1 h3 {
        margin-left: 15px;
    }
}