* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/* header */

/*===============================MENU-HOVER=============================================*/
/*======================================================================================*/
/*===============================SEARCH-BOX===============================================*/
/*==============================================================================*/
.content {
  
    width: 100%;
    height: auto;
    height: auto;
    background-color: white;
}
.tieude {
    height: 50px;
    text-align: center;
    background-color: darkkhaki;
}

.tieude h1 {
    line-height: 50px;
    font-family: "Dancing Script";
    color: white;
}

/*==============================================================================*/

/*==============================================================================*/


/*====================================================================*/



.product>.items>.item>img {
    transition: 0.5s ease-in-out;
    border-radius: 10px 10px 0 0;
}

.item img:hover {
    transform: scale(1.1);
}

.cart-a p {
    font-weight: bolder;
    color: black;
}

.cart-a {
    margin-top: 20px;
}

.cart-a p:hover {
    color: white;
}

/*==============================================================================*/
.button {
    text-align: center;
}

.btn-xem {
    text-align: center;
    height: 50px;
    width: 10%;
    line-height: 45px;
    background-color: darkkhaki;
    color: white;
    font-size: larger;
    border-radius: 5px;
    border: solid 1px white;
}

.btn-xem:hover {
    color: black;
    font-weight: bolder;
    background-color: white;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    border: solid 1px darkkhaki;
}

/*==============================================================================*/

.slogan {
    padding-top: 25px;
    margin-left: 50px;
}

.main-slogan {
    text-align: center;

}

.main-slogan h1 {
    font-family: "Dancing Script";
    color: white;
}

/*===============================BTN- ONTOP===============================================*/
.btn-ontop {
    height: 50px;
    width: 180px;
    background-color: darkkhaki;
    border-radius: 5px;
    border: solid 1px white;
    float: right;
}

.btn-ontop a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding-left: 40px;
}

/*==============================================================================*/

h1 a {
    padding-left: 20px;
    padding-right: 64px;
    float: left;
    color: white;
    text-decoration: none;
    line-height: 68px;
    font-family: "Dancing Script";
}

#trangchu {
    background-color: rgb(131, 88, 47);
}

.item2 {
    padding-top: 20px;
}

aside {
    height: 500px;
    width: 800px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides>input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide>img {
    width: 100%;
    height: 500px;

}

.navi_manual {

    position: absolute;
    width: 800px;
    top: 450px;
    display: flex;
    justify-content: center;

}

.manual_btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child) {
    margin-right: 40px;
}

.manual_btn:hover {
    background: white;
}

#radio1:checked~.slide:nth-of-type(1) {
    margin-left: 0;
}

#radio2:checked~.slide:nth-of-type(1){
    margin-left: -20%;
}

#radio3:checked~.slide:nth-of-type(1) {
    margin-left: -40%;
}

#radio4:checked~.slide:nth-of-type(1){
    margin-left: -60%;
}

.navi_auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    top: 450px;

}

.navi_auto>div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navi_auto>div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navi_auto .auto_btn1 {
    background: white;
}

#radio2:checked~.navi_auto .auto_btn2 {
    background: white;
}

#radio3:checked~.navi_auto .auto_btn3 {
    background: white;
}

#radio4:checked~.navi_auto .auto_btn4 {
    background: white;
}

.product {
    width: 100%;
    height: 1000px;
    margin-top: 20px;
    margin-bottom: 1px;
}

.items {

    height: 700px;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 40px;
}

.item {
    width: 90%;
}

.item img {
    transition: 0.5s ease-in-out;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 14px;

}

.item img:hover {

    transform: scale(1.1);
}

.cart-a {
    margin-top: 5px;
    text-align: center;
    height: 75px;
    background-color: darkkhaki;
    border-radius: 0 0 10px 10px;
}

#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    z-index: 100;
    top: 50%;
    background-image: url('./img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    z-index: 1001
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000
}
/* mobile */

@media (max-width:1355px) {
    
}

/*====responsive width 1024====*/
@media screen and (max-width: 1024px) {


    
/* header */
  
    .container {
        max-width: 1024px;
    }

  

    .content {
        max-width: 100%;
    }

    .product {
        max-height: 850px;
    }

    .btn-xem {
        width: 150px;
    }

    
}

/*=====reposnsive width 768=====*/
#iconbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        align-items: center;
    }

   

    #iconbar {
        display: block;
        color: white;
        float: left;
        font-size: 55px;
        margin: 10px 40px;
        cursor: pointer;

    }



   

    /*===slide====*/
    .content {
        width: 100%;
        align-items: center;
    }

    aside {
        max-width: 80%;
    }

    .slides {
        width: 500%;
        overflow: hidden;
    }

    .slide {
        width: 20%;
    }

    .slides img {
        width: 100%;
        font-size: 100%;
    }

    .navi_manual {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navi_auto {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*====sanpham====*/
    .tieude {
        max-width: 100%;
    }

    .product {
        height: auto;
        width: 100%;
    }

    .items {
        width: 100%;
    }

    .item {
        width: 90%;
        margin-left: 10px;
    }

    .item img {
        width: 100%;
        font-size: 100%;
    }

    .cart-a {
        max-height: 60px;
        line-height: 30px;
    }

    /*====nut xem tat ca===*/
    .button {
        margin-top: 20px;
        padding: 10px;
    }

    .btn-xem {
        width: 30%;
    }

    /*====footer tren====*/
    

    /*===responsive width 414===*/
    @media screen and (max-width: 415px) {
        .container {
            max-width: 415px;
            height: 2300px;
        }


        .content {
            width: 100%;
            height: 2000px;

        }

        /*=====slide====*/
        aside {
            width: 320px;
            height: 200px;
        }

        .slides {
            width: 500%;
            height: 200px;
            overflow: hidden;
        }

        .slide {
            width: 20%;
            max-height: 200px;
        }

        .slides img {
            width: 320px;
            height: 200px;
            font-size: 100%;
        }

        .navi_manual {
            top: 180px;
        }

        .navi_auto {
            top: 180px;
        }

        /*=====sanpham====*/
        .product {
            max-height: 2000px;
        }

        .items {
            width: 100%;
            height: 1600px;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            grid-row-gap: 0px;


        }

        .item {
            width: 90%;
        }

        .item img {
            font-size: 100%;
        }

        .btn-ontop {
            margin-right: 20px;
        }


    }
}
