.menu {
    height: 75px;
    width: 100%;
    background-color: darkkhaki;
    position: unset;
}
#sanpham{
   background-color: rgb(131, 88, 47);
}
/*=============================================================*/
.content {
    max-height: 4500px;
    width: 100%;
    background-color: white;
}

/*=============================================================*/
.content1 {
    height: auto;
    width: 25%;
    float: left;
    position: relative;
}
.danhmuc {
    height: 350px;
    width: 280px;
    max-width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
}

/*=============================================================*/
.content1 ul li {
    cursor: pointer;
    display: block;
    height: 50px;
    width: 200px;
    max-width: 100%;
    line-height: 50px;
    border-bottom: solid 1px gray;
}

.content1 ul li a {
    color: gray;
    margin-left: 5px;
}

.content1 ul li.active {
    background-color: darkkhaki;
    color: white;
    border-bottom: none;
}

.content1 ul li.active a {
    color: white;
}

/*=============================================================*/
#sanpham {
    background-color: rgb(131, 88, 47);
}

.container {
    width: 100%;
   height: auto;
}

.product {

    float: right;
    width: 75%;
    height: auto;

}

.items {
    height: auto;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 40px;
    column-gap: 20px;
}

.items>.item {
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    width: 100%;
    border: none;
    border-radius: 10px;
}

.items>.item>img {
    transition: 0.5s ease-in-out;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 14px;
}

.item img:hover {
    transform: scale(1.1);
}

.items>.item>.cart-a {

    text-align: center;
    height: 75px;
    background-color: darkkhaki;
    border-radius: 0 0 10px 10px;
}

form input {
    cursor: pointer;
    outline: none;
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 2px;
    transition: all 0.3s;
}

form input:hover {
    width: 60px;
}

form input[type="text"] {
    text-align: center;
    width: 20px;
    border: none;
    border-radius: 2px;

}

.btn-ontop {
    margin-bottom: 1px;
}

#tra {
    margin-top: 5px;
}

.title {
    margin-top: 20px;
    max-width: 100%;
    height: 50px;
    text-align: center;

}

.title h1 {
    height: 50px;
    margin: 0 auto;
}

.footer {
    margin-top: 100px;
}

.cart-a {
    margin-top: 0px;
}

.cart-a p a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}




.cart-a p a:hover {
    color: white;
}


/* mobile */
.icon_mobile {
    display: none;
}

.close {
    display: none;
}

.over_lay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

}

.close {
    display: block;
}

.mobile_nav {
    transform: translateX(-100%);
    z-index: 9999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: darkkhaki;
    width: 320px;
    max-width: 100%;
    height: auto;
    transition: transform linear 0.3s;

}

ul.mobile_ul {
    text-align: center;
    z-index: 9999999999999999;
    margin: 0 auto;
    width: 320px;
    max-width: 100%;
    display: block;
    color: black;
    text-decoration: none;
}

.mobile_ul li {
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;

}

.mobile_ul li a {
    color: white;
}

.nav_input:checked~.over_lay {
    display: block;

}

.icon_mobile {

    float: left;
}

.nav_input:checked~.mobile_nav {
    transform: translateX(0%);
}

.danhmuc2 {
    float: right;
    background-color: darkkhaki;
    max-width: 90%;
    height: 50px;
}

.danhmuc2 ul li {
    padding: 10px;
    line-height: 50px;
}

.danhmuc2 ul li a {
    color:white;
    font-size: 15px;
    font-weight: bolder;
}

.danhmuc2 {
    display: none;
}

/* reponsive */
@media (max-width: 996px) {
    .danhmuc2 {
        display: block;
    }

    .menu>h1 {
        display: none;
    }

    .icon_mobile {
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
        display: block;
    }

    ul.pc {
        display: none;
    }

    .footer {
        margin-top: 50px;
    }

    .content1 {
        display: none;
    }

    .product {
        text-align: center;
        width: 100%;
        height: auto;
    }

    .items {
      height: auto;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;

    }


}

@media (max-width: 600px) {
    .danhmuc2 ul li a {
        font-size: 13px;
    }

    .footer {
        margin-top: 50px;
    }

    .items {
        height: auto;
    }

    .items {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 530px) {
    .danhmuc2 {
        display: none;
    }
}

@media (max-width:415px) {
    .items {
       height: auto;
        grid-template-columns: 1fr;

    }
}
ul>li {
    float: left;
    list-style: none;
    line-height: 75px;
    padding-left: 40px;
    padding-right: 40px;
}
ul>li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: larger;
}
